.job-preview {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    width: 25%;
    justify-content: center;
}

.summary {
    float: left;
    text-align: left;
    border-style: dotted;
    width: 50%;
}

.deadline {
    text-align: right;
    border-style: dotted;
    float: right;
    width: 25%;
}