.job-preview {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    width: 25%;
    /* justify-content: center; */
}

.job-summary {
    width: 100%;
}

.job-info {
    display: inline-block;
    /* float: left; */
    /* text-align: left; */
    border-style: dotted;
    /* width: 75%; */
}

.job-deadline {
    display: inline-block;
    /* float: right; */
    /* text-align: right; */
    border-style: dotted;
    /* width: 25%; */
}