.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field {
  flex: 1 1 100%;
  margin: 5px;
}

.select {
  display: flex;
}

.select-dropdown {
  flex: 1 1 100%;
}