.navbar {
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    color: black;
    min-height: 10vh;
}

.navbar-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar-links {
    color: rgb(17, 95, 121);
    text-decoration: none;
}